:root {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main {
    display: flex;
    min-height: 100vh;
}

.left-section {
    flex: 1 0 35%;
    /* background-color: aqua; */
    background: url('assets/images/background.jpg') no-repeat;
    background-size: 100%;
    position: relative;
}

.left-section>.logo-container {
    /* background-color: lightyellow; */
    position: relative;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1e1e1e77;
    color: #ffffff;
    font-size: 4rem;
}

.logo-container::before {
    content: '';
    background: url('assets/images/logo.png') no-repeat;
    background-size: contain;
    display: inline-block;
    width: 95px;
    height: 127px;
}

.right-section {
    flex: 1 0 65%;
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.right-section>.statement {
    position: relative;
    bottom: 50px;
}

.right-section>.form>.fieldset {
    margin: 0;
}

.form>.fieldset>.input-label {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    gap: 10px 50px;
}

.input-label>div {
    display: flex;
    flex-direction: column;
}